*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    height: 100vh;
    width: 100vw;
    background-image: url(pexels-maria-orlova-4913313.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav h1{
    background-color: rgba(0, 0, 0, 0.625);
    color: #fff;
    padding: 20px;
    border-radius: 20px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    font-size: 25px;
    padding: 30px 20px;
}
nav ul li {
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color:black;
    padding: 20px;
    background-color:white ;
    border-radius: 50%;
    margin-left: 20px;
}
.contented{
    margin-left: 400px;
}
.content{
    margin-top: 20px;
}
.content h1{
    margin-left: 50px;
    color:#fff;
    width: 300px;
    padding: 20px;
    font-weight: bolder;
    text-transform: capitalize;
}
.content p{
    color: #fff;
    width: 350px;
    padding: 10px;
    margin-left: 50px;
    line-height: 1.5;
    text-align: justify;
}
button{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    margin-left: 40px;
    border-radius: 20px;
    font-size: 18px;
}
nav ul li a:hover{
    background-color: transparent;
    color: #fff;
    transition: 0.8s;
}
.services{
    width: 100vw;
    height: 100vh;
    background-image: url(pexels-malidate-van-784633.jpg);
    color: #fff;
    padding: 40px 30px;
}
.services h1{
    text-align: center;
    color: #fff;
}
.provider{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}
.menu h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}
.menu .juice-items .bakery-items{
    padding: 30px;
    margin: 10px;
}
 table,th,td{
    border: 2px solid white;
    font-size: 20px;
    padding: 20px;
}
.juice-items h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}
.bakery-items h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}
.about{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}
.about h1{
    text-align: center;
    padding: 30px;
}
.review{
    background-color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px;
    width:100%;
    height: 500px;
}
.first-review,.second-review,.third-review{
    padding: 40px;
    background: #000;
    color: #fff;
    width: 400px;
    height: 250px;
    margin: 20px;
    line-height: 1.5;
    text-align: justify;
    border: 3px solid aliceblue;
    border-radius:20px ;
    letter-spacing: 2px;
}
.pages{
    width: 100vw;
    background: #000;
}
.pages h1{
    width: 100vw;
    text-align: center;
    padding: 40px 20px;
    color: aliceblue;
}
.image-container{
    width: 100vw;
    height: 100%;
    background: #000;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 40px;
    padding: 40px;
}


